@{
    @model Z1_forms.model.FormData
    Layout = "_Layout";
}
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=utf-16">
        <title>Vyhlasenie</title>
        <style>
              .label {
                font-weight: bold;
                display: block;
              }
		      .flex{
			    display: flex;
		      }
              body{
                width: 50%;
              }

              .center{
                text-align: center;
              }
              #reject{
                  background-color: red;
                  color:white;
                  margin: 5px;
                  text-align: center;
              }
              #confirm{
                  background-color:green;
                  color: white;
                  margin: 5px;
                  text-align: center;
              }

              .myButton{
                border: 1px solid #000; 
                padding: 5px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
              }

              .inputRectangle{
                width: 300px;
                height: 30px;
                padding: 5px;
                margin: 5px;
                border: 1px solid #000;
              }

              .bottomMargin{
                margin: 20px;
              }

              .button{
                margin: 10px;
                width: 150px;
              }

              span{
                  color:red;
              }
              
             
            </style>
            <script type="text/javascript" src="https://www.slovensko.sk/static/zep/dbridge_js/v1.0/config.js"></script>
        	<script type="text/javascript" src="https://www.slovensko.sk/static/zep/dbridge_js/v1.0/dCommon.min.js"></script>
			<script type="text/javascript" src="https://www.slovensko.sk/static/zep/dbridge_js/v1.0/dSigXades.min.js"></script>
        <script>
      
        function sign() {
        			try {
                        
                        $.get('/sign', function (data) {
							
							if(data == "Najskôr uložte súbor"){
								alert("Najskôr uložte súbor")
								return;
							}
        					const files = JSON.parse(data);
        					      
        					
							function Callback(onSuccess) {
								this.onSuccess = onSuccess;
								this.onError = function(e) {
									alert("Chyba: " + e);
								}
                            }	
							
        												
        					ditec.dSigXadesJs.deploy(null, new Callback(function(){			
        						ditec.dSigXadesJs.initialize(new Callback(function(){
        								ditec.dSigXadesJs.addXmlObject2 ( 
        								'objectId' , 
        								'Vyhlasenie' , 
        								files.xml_file , 
        								files.xsd_file , 
        								'http://www.taxbonusform.com' , 
        								'http://www.w3.org/2001/XMLSchema' , 
        								files.xsl_file, 
        								'http://www.taxbonusform.com' , 
        								'HTML',
        								new Callback(function(){
        								ditec.dSigXadesJs.sign20("signatureId", "http://www.w3.org/2001/04/xmlenc#sha256", "urn:oid:1.3.158.36061701.1.2.3", "dataEnvelopeId", "http://dataEnvelopeURI", "dataEnvelopeDescr", new Callback(function(){
        									ditec.dSigXadesJs.getSignedXmlWithEnvelopeBase64(new Callback(function(ret) {
												
												//tento alert je tu iba pre testové účely
        										alert(ret);
        																						
        										$.ajax({
        											url : "/xades",
        											type: "POST",
        											data : JSON.stringify({ "data": ret }),//tieto dáta sa nepošlú na server a nezapíšu do súboru
        											contentType: 'application/json',
        											success: function(fileName) {
        												alert("Bol vytvorený súbor: " + fileName);
        											},
        											error: function () {
        												alert('Pri ukladaní súboru došlo k chybe!');
        											}
        										});
        									}));
        								}));
        							}));
        						}));				
        					}));
                        });
                    } catch (e) {
        			    alert("Došlo k chybe");
        			}
                }
        </script>
        
      </head>
      <body>
     
      <form asp-controller="home" method="post">
            <div class="center">
	           <h4>VYHLÁSENIE</h4>
              <div>
                    na uplatnenie nezdaniteľnej časti základu dane na daňovníka a daňového bonusu podľa § 36 ods. 6
                    neexistujúceho zákona o dani z príjmov v znení neskorších predpisov (ďalej len „vyhlásenie“)
                    </div><br><br><DIV>
                        Vyhlásenie podľa § 36 ods. 6 neexistujúceho zákona o dani z príjmov v znení neskorších predpisov (ďalej len „zákon“) doručí zamestnanec zamestnávateľovi, ktorý je platiteľom dane (ďalej len „zamestnávateľ“), u ktorého si uplatňuje nárok na nezdaniteľnú časť základu dane na daňovníka a nárok na daňový bonus (§ 33). Ak má zamestnanec súčasne viacerých zamestnávateľov, vyhlásenie predloží len jednému z nich.
                    </DIV>
            </div>
            <h5>I. ÚDAJE O ZAMESTNANCOVI</h5>
            <div class="flex">
              <div>
                <label for="surname">Priezvisko:</label><br>
                <input asp-for="surname" type="text" id="surname" name="surname" class="inputRectangle"><br>
                <span asp-validation-for="surname"></span>
              </div>
              <div>
                <label for="name">Meno</label><br>
                <input asp-for="name" class="inputRectangle" type="text" id="name" name="name"><br>
                <span asp-validation-for="name"></span>
                </div>
              <div>
                    <label for="age">Vek</label><br>
                    <input asp-for="age" class="inputRectangle" type="number" id="age" min=18 name="age"><br>
                <span asp-validation-for="age"></span>

              </div>
            </div>
            <div class="flex">
              <div>
                <label for="degreeBefore">Titul (pred menom)</label><br>
                <input asp-for="degreeBefore" class="inputRectangle" type="text" id="degreeBefore" name="degreeBefore">
                </div>
                <div>
                <label for="degreeAfter">Titul (za menom)</label><br>
                <input asp-for="degreeAfter" class="inputRectangle" type="text" id="degreeAfter" name="degreeAfter">
                </div>
                <div>
                    <label for="maritalStatus">Rodinný stav:</label><br>
                    <select asp-for="maritalStatus" class="inputRectangle" id="maritalStatus" name="maritalStatus">
                        <option value="slobodný/slobodná">slobodný/slobodná</option>
                        <option value="ženatý/vydatá">ženatý/vydatá</option>
                        <option value="rozvedený/rozvedená">rozvedený/rozvedená</option>
                        <option value="vdovec/vdova">vdovec/vdova</option>
                    </select>
                </div>
              </div>
            <div class="flex">
                <div>
                <label for="streetName">Ulica:</label><br>
                <input asp-for="streetName" type="text" id="streetName" name="streetName" class="inputRectangle"><br>
                <span asp-validation-for="streetName"></span>

                </div>
                <div>
                <label for="houseNum">Súpisné/orientačné číslo</label><br>
                <input asp-for="houseNum" class="inputRectangle" type="text" id="houseNum" name="houseNum"><br>
                <span asp-validation-for="houseNum"></span>

                </div>
                <div>
                <label for="postCode">PSČ</label><br>
                <input asp-for="postCode" class="inputRectangle" type="text" id="postCode" name="postCode">
                <br>
                <span asp-validation-for="postCode"></span>

                </div>
            </div>
            <div class="flex">
                <div>
                    <label for="city">Obec:</label><br>
                    <input asp-for="city" type="text" id="city" name="city" class="inputRectangle">
                    <br>
                     <span asp-validation-for="city"></span>

                </div>
                <div>
                    <label for="country">Štát</label><br>
                    <input asp-for="country" class="inputRectangle" type="text" id="country" name="country">
                    <br>
                    <span asp-validation-for="country"></span>

                </div>
            </div>
            <h5>II.ÚDAJE NA UPLATNENIE DAŇOVÉHO BONUSU PODĽA § 33 ZÁKONA</h5>
            <div class="bottomMargin">
                <input asp-for="tax" type="checkbox" id="tax" name="tax">
                <label for="tax"> Uplatňujem si daňový bonus na dieťa (deti) žijúce so mnou v domácnosti :</label>
            </div>
            
            
            <div class="flex botomMargin">
                <input  type="number" id="numofkids" value="1" min=1 name="numofkids">
            </div>
            <div id="newRow">
                <div id="inputRow" class="flex">
                        <div>
                            <label >Meno a priezvisko:</label><br>
                            <input  class="inputRectangle" type="text" name="kids[0].fullname"  /> 
                            <br>
                            <span asp-validation-for="kids[0].fullname"></span>
                        </div>
                        <div>
                            <label >Vek:</label><br>
                            <input  class="inputRectangle" type="number" name="kids[0].age"  />
                            <br>
                            <span asp-validation-for="kids[0].age"></span>
                        </div>
                </div>
            </div>

            @section Scripts  
{  
            <script>  

                document.getElementById("numofkids").addEventListener("click", function() { 
                    var rowCount = parseInt($("#numofkids").val());
                    var inputRowElements = $("[id=inputRow]");

                    if (rowCount < inputRowElements.length) {
                        inputRowElements.last().remove();
                    } else {
                         var html = '';
                        html += '<div id="inputRow" class="flex">';
                        html += '<input  class="inputRectangle" type="text" name="kids[' + (rowCount - 1) + '].fullname"  />';
                        html += '<input  class="inputRectangle" type="number" name="kids[' + (rowCount - 1) + '].age"  />';
                        html += '</div>';
                        $('#newRow').append(html)
                    }
                    
                })
            </script>  
}  


            <div class="bottomMargin">
            <label for="date">Dňa:</label>
            <input asp-for="date" type="date" id="date" max="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" name="date" asp-format="{0:yyyy-MM-ddTHH:mm}">
            <span asp-validation-for="date"></span>
            </div>
            <div class="flex">
                <div>
                    <input asp-action="Submit" type="submit" class="button" id="submit" value="Ulož">
                </div>
                <div>
                    <input asp-action="ValidateData" type="submit" class="button" id="validate" value="Over">
                </div>
                <div>
                    <input asp-action="TransformToHtml" type="submit" class="button" id="transform" value="Transformuj">
                </div>
	            <div>
		            <button class="sign button"  onclick="sign(); return false" AutoPostBack="false">Podpísať</button>
	            </div>
            </div>
            <div id="confirm">
                @ViewData["confirmation"]
            </div>
            <div id="reject">
                @ViewData["rejection"]
            </div>
        </form>
        
      </body>
</html>